node_modules
.idea
tmp
_admin
iob_npm.dode
/nbproject

# ioBroker dev-server
.dev-server/

# No dot-directories except github/vscode
.*/
!.vscode/
!.github/
*.code-workspace

# npm package files
iobroker.*.tgz
Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

.vscode/info.md

admin/custom/
.vscode/admin.zip
.vscode/srcxxx.zip
.vscode/secrets.txt
