/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.mytime-flip-clock .flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mytime-flip-clock .flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.mytime-flip-clock .flip-clock-wrapper a:hover {
  color: #fff; }

.mytime-flip-clock .flip-clock-wrapper ul {
  list-style: none;
  padding: 0; }

.mytime-flip-clock .flip-clock-wrapper.clearfix:before,
.mytime-flip-clock .flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.mytime-flip-clock .flip-clock-wrapper.clearfix:after {
  clear: both; }

.mytime-flip-clock .flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.mytime-flip-clock .flip-clock-wrapper {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  -webkit-user-select: none; }

.mytime-flip-clock .flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.mytime-flip-clock .flip-clock-meridium a { color: #313333; }

.mytime-flip-clock .flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0.1375em;
}

.mytime-flip-clock .flip-clock-wrapper:before,
.mytime-flip-clock .flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.mytime-flip-clock .flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.mytime-flip-clock .flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 0.0625em;
  width: 0.75em;
  height: 1.125em;
  font-size: inherit;
  font-weight: bold;
  line-height: 1.0875em;
  border-radius: 0.075em;
  background: #000;
}

.mytime-flip-clock .flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.0875em;
  text-decoration: none !important;
}

.mytime-flip-clock .flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.mytime-flip-clock .flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 2.5em;
  -moz-perspective: 2.5em;
  perspective: 2.5em;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.mytime-flip-clock .flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: inherit;
  overflow: hidden;
  outline: 1px solid transparent; }

.mytime-flip-clock .flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.mytime-flip-clock .flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.mytime-flip-clock .flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 0.55em;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 0.0375em;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.mytime-flip-clock .flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 0.075em;
  border-bottom-right-radius: 0.075em;
}

.mytime-flip-clock .flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 0.014286em 0.028571em #000;
  text-align: center;
  background-color: #333;
  border-radius: 0.085714em;
  font-size: 0.875em; }

.mytime-flip-clock .flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.mytime-flip-clock .flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.mytime-flip-clock .flip-clock-wrapper .flip {   box-shadow: 0 0.025em 0.0625em rgba(0, 0, 0, 0.7); }

.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: mytime-flip-asd 0.01s 0.49s linear both;
  -moz-animation: mytime-flip-asd 0.01s 0.49s linear both;
  animation: mytime-flip-asd 0.01s 0.49s linear both;
  z-index: 5; }

.mytime-flip-clock .flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 0.25em;
  height: 1.25em; }

.mytime-flip-clock .flip-clock-divider:first-child {
  width: 0; }

.mytime-flip-clock .flip-clock-dot {
  display: block;
  background: #323434;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0.0625em rgba(0, 0, 0, 0.5);
  left: 0.0625em; }

.mytime-flip-clock .flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none; }

.mytime-flip-clock .flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.mytime-flip-clock .flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.mytime-flip-clock .flip-clock-dot.top {
  top: 0.375em; }

.mytime-flip-clock .flip-clock-dot.bottom {
  bottom: 0.375em; }

@-webkit-keyframes mytime-flip-asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

@-moz-keyframes mytime-flip-asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

@-o-keyframes mytime-flip-asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

@keyframes mytime-flip-asd {
  0% {
    z-index: 2; }

  100% {
    z-index: 4; } }

.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: mytime-flip-turn 0.5s 0.5s linear both;
  -moz-animation: mytime-flip-turn 0.5s 0.5s linear both;
  animation: mytime-flip-turn 0.5s 0.5s linear both; }

@-webkit-keyframes mytime-flip-turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes mytime-flip-turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes mytime-flip-turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes mytime-flip-turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: mytime-flip-turn2 0.5s linear both;
  -moz-animation: mytime-flip-turn2 0.5s linear both;
  animation: mytime-flip-turn2 0.5s linear both; }

@-webkit-keyframes mytime-flip-turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes mytime-flip-turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes mytime-flip-turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes mytime-flip-turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.mytime-flip-clock .flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: mytime-flip-show 0.5s linear both;
  -moz-animation: mytime-flip-show 0.5s linear both;
  animation: mytime-flip-show 0.5s linear both; }

.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: mytime-flip-hide 0.5s 0.3s linear both;
  -moz-animation: mytime-flip-hide 0.5s 0.3s linear both;
  animation: mytime-flip-hide 0.5s 0.3s linear both; }

/*DOWN*/
.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: mytime-flip-show 0.5s linear both;
  -moz-animation: mytime-flip-show 0.5s linear both;
  animation: mytime-flip-show 0.5s linear both; }

.mytime-flip-clock .flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: mytime-flip-hide 0.5s 0.3s linear both;
  -moz-animation: mytime-flip-hide 0.5s 0.3s linear both;
  animation: mytime-flip-hide 0.5s 0.2s linear both; }

@-webkit-keyframes mytime-flip-show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes mytime-flip-show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes mytime-flip-show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes mytime-flip-show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes mytime-flip-hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes mytime-flip-hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes mytime-flip-hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes mytime-flip-hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
