@font-face {
  font-family: 'Lato MyTime';
  src: url('../fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

.mytime-class {
    font-style: italic;
} 

.cdclock {
  display: flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  font-family: 'Lato MyTime', sans-serif;
  font-weight: 100;
  font-size: inherit;
}

.cdclock section {
  display: flex;
  gap: 0.0em;
}

.cdclock .tens,
.cdclock .ones {
  position: relative;
  width: 0.6em;
  height: 1em;
  overflow: hidden;
}

.cdclock .tens p,
.cdclock .ones p {
  position: absolute;
  inset: 0;
  margin: 0;
  line-height: 1em;
}

.cdclock section p.active {
  opacity: 1;
}

.cdclock p.separator {
  align-self: center;
  line-height: 1;
  opacity: 0.5;
}

.cdclock p {
  margin: 0 !important;
  transition: 0.5s ease color, 0.5s ease text-shadow;
}
